@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charis+SIL:ital,wght@0,700;1,400&family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charis+SIL:ital,wght@0,700;1,400&family=Noto+Serif:wght@700&family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charis+SIL:ital,wght@0,700;1,400&family=Libre+Baskerville:ital@0;1&family=Noto+Serif:wght@700&family=Roboto+Slab&display=swap');
        *{
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                font-family: 'Roboto Slab', serif;
        }
        img:not(.intro-img){
                width: 500px;
                height: 500px;
        }
        body{
                max-width: 1400px;
                margin: auto;
                margin-top: 50px;
                justify-content: center;
                background-image: url(assets/clement-helardot-95YRwf6CNw8-unsplash.jpg);
                background-position: center;
                background-size: contain;
                border-radius: 50px;
        }

        /*pink #ff477 purple #36174d  white #f3effe  6f36bc*/
        .material-symbols-outlined {
                font-variation-settings:
                'FILL' 1,
                'wght' 400,
                'GRAD' 0,
                'opsz' 48
        }
        /*This is the header section*/
        
        
        .navbar  { grid-area: navigation; }
        .quick-access { grid-area: access; }
        .logo { grid-area: logobar; }


        .header-sect{
                background-color: #575658;
                display: grid;
                grid-template-areas:
                'logobar logobar navigation navigation navigation access';
                gap: 10px 30px;
        }
        
        /*Logo Section*/
        .logo{
                margin-left: 5px;
                padding: 15px 30px 15px 25px;
        }
        .logo-text{
                color: rgb(252, 164, 0);
        }

        /*The Navigation Bar Styles*/

        .navbar{
                margin-top: 25px;
                justify-content: space-between;
                align-items: center;
        }
        .nav-lists {        
                display: flex;
                justify-content: space-around;
        }

        .nav-items {
                margin-right: 20px;
                list-style-type: none;
                padding:0px 20px ;       
        }

        .item-links{
                color: rgb(255, 255, 255);
                font-size: 18px;
                text-decoration: none;
                font-weight: bold;
        }
       .item-links:hover{
                color: #ff477b;
        }
        .material-symbols-outlined{
                margin-top: 30px !important;
        }
        /*Quick Access Links*/
        .quick-access{
                margin-top: 20px;
        }
        .quick-access div{
                margin: 10px 10px;
        }
        .quick-access a{
                padding-right: 15px;
                color: rgb(243, 61, 167);
                font-size: 22px;
                text-decoration: none;
                font-weight: bold;
        }
        .quick-access button{
                margin-right: 15px;
                border-radius: 25px;
                padding: 10px 15px;
                background-color: orange;
                font-size: 20px;
                color: black;
        }
        .access-icon{
               font-size: 40px !important;
                margin-right:15px ;
                margin-top: 10px !important;
                color: white;
        }
        /*A brief Intro*/
        .landing-sec{
                background-color: #36174dcb;
        }
        .landing-bg{
                background-image: url(assets/pexels-christina-morillo-1181467.jpg);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
        }
        .intro-container{
                padding: 0px 30px 30px 30px;
                width: 100%;
        }
        .intro-div{
               margin-left: auto;
               margin-right: auto;
               width: 80%;
               padding: 15px;
        }
        .intro-div h1{
                font-size: 45px;
                margin-bottom: 60px;
                color: #91ff00;
        }
         .main-use{
                font-size: 55px;
                color: aqua;
        }
        .intro-div p{
                font-size: 25px;
                font-family: 'Charis SIL', serif;
                margin-bottom: 40px;
                color:#ffffff ;
                line-height: 50px;
                width: 75%;
        }
        .framework-tag{
                color: orange;
                font-size: 40px;
        }
        .highlight-use{
                text-decoration: underline;
        }
        .intro-div div{
                margin-left: auto;
                margin-right: auto;
               
        }
        .more-btns{
                display: flex;
                justify-content: space-around;
                align-items: center;

        }
        .icon-git{
                margin-right: 10px;
        }
        .intro-div div button{
                margin-right: 150px;
                border-radius: 35px;
                padding: 10px 15px;
                background: rgba(255,68,123,1);
                color:  rgba(243,239,254,1);
                font-weight: bold;
                font-size: 25px;
        }
      .more-btns :hover{
                color: rgba(255,68,123,1);
                background-color:  rgba(243,239,254,1);     
      }  

      /*This is the section after Landing page*/

        .briefintro-sect{
            padding: 30px 0px;  
            background-color:  #ece6ff; 
            height: 100%;
        }

        .brief-container{
                display: flex;
                padding: 50px 50px 100px 50px;
        }

        .info-container1{
                padding-right: 10px;
                
        }

        .intro-headingdiv{
                margin: 10px;
        }

        .intro-heading{
                font-size: 60px;
                font-weight: bold;
                color: #36174d;
                text-align: center;
                padding-bottom: 30px;
        }
        .intro-paragraphdiv{
                margin-top: 30px;
                margin-left: 20px;
                margin-bottom: 30px;
        }
        .intro-paragraph{
                font-size: 30px;
                font-family: 'Libre Baskerville', serif;
                line-height: 50px;

        }

        .benefits-list{
               margin: 30px;
               color: #ff477b;
               display: flex;
               justify-content: space-between;

        }
        .benefits-list li{
                list-style-type: none;
                font-size: 22px;
                padding: 10px;
                font-weight: bold;
                font-family: 'Charis SIL', serif;
        }
        .info-tick{
                color: #36174d;
        }
        /*Additional Buttons*/

        .info-btn1  { grid-area: firstbtn; }
        .info-btn2 { grid-area: secondbtn; }

        .info-btndiv{
                display: grid;
                grid-template-areas:
                'firstbtn secondbtn';
                gap: 0px;
        }
        .info-btn1{
                margin:  auto;
                background-color:  #ff477b;
                font-size: 22px;
                border-radius: 20px;
                padding: 15px 30px;
                color:white;
                font-weight: bold;
        }
        .info-btn2{
        
                margin:  auto;
                background-color: #ffffff;
                font-size: 22px;
                border-radius: 20px;
                padding: 15px 30px;
                color: #ff477b;
                font-weight: bold
        }
        .info-btn1:hover{
                background-color: white;;
                color: black;
        }

        .info-btn2:hover{
                background-color: #ff477b;
                color: white;
        }
        /*Intro IMage Styles*/

        .info-container2{
             height: 100%;   
             margin: auto;
        }
        .intro-imgdiv{
                height: 80%;
                margin-top: 100px;
                margin-bottom: auto;  
                margin-right: 0;  
        }
       .intro-img{
                width: 500px;           
        }
        .tag-div1  { grid-area: tagdiv1; }
        .tag-div2 { grid-area: tagdiv2; }
        .tags-div{
                background-color: #ffffff;
                padding: 100px 10px;
                padding-bottom: 100px;
                display: flex;
                
        }
        .tag-div2{
                background-image: url(assets/clement-helardot-95YRwf6CNw8-unsplash.jpg);
                background-size: contain; 
                background-repeat: no-repeat;            
                width: 70%;

        }
        .tag-div1{
                background-color: #00e1ff;
                padding: 50px 100px;
                margin:auto auto;
                border-radius: 70px;
                width: 80%;
        }
        .tag-div1 p{
                font-size: 25px;
                color: black;
                line-height: 60px;
        }
       .tags-div p span{
                font-size: 40px;
        }
        .tags-div p span b{
                font-size: 100px;
        }

        .how-sect{
                padding: 100px 30px;
               background-color: rgb(243, 243, 243);
                display: flex;
        }
        .how-img{
                width: 550px;
        }
        .how-heading{
                margin: 0px 40px 40px 40px;
                padding-top: 0px;
                width: 80%;

        }
        .how-mainh1{
                font-size: 60px;
                color: rgb(0, 255, 106);
                padding-bottom: 30px;
                text-align: center;
                
        }
        .how-mainh1 span{
                color: #ff477b;
        }
        .how-intropara{
                font-size: 30px;
                color: rgb(0, 0, 0);
                font-weight: bold;
                line-height: 45px;
                text-align: justify;
                font-family: 'Libre Baskerville', serif;
        }
        .steps-sect{
        }
        .steps-container{
                background-color: #ffffff;
        }
       
        .steps-heading{
                font-size: 65px;
                padding: 20px 70px 35px 70px;
                text-align: center;
        }
        .steps-div{
                display: grid;
                grid-template-areas:'auto auto auto';
                justify-content: space-around;
                background-color: #ffffff;
                padding-top: 70px;

        }
        .steps{
                width: 300px;
                box-shadow: 20px -6px 2px 0 rgba(0, 0, 0, 0.089), -23px -8px 2px 0 rgba(255, 255, 255, 0.068);
                text-align: center;
                margin-bottom: 100px;
                border-radius: 50px 50px 0px 0px;
        }
        .card-header{
                background-color: #ff477b;
                color: white;
                padding: 60px;
                font-size: 55px;
                
        }
        .card-para{
                padding: 25px;
                background-color: #ffffff;
        }
        .card-para p{
                font-size: 15px;
                text-align: left;
                font-weight: bold;
        }
        .card-para h2{
                font-size: 25px;
                color: green;
                text-align: left;
                padding-bottom: 15px;
                
        }
        .step-1 {
                
        }
        
        .qulity-sect{
                background-color: white;
                padding: 100px 50px;
        }
        .image-quality{
                
                padding: 10px;
                width: 400px;
                height: 300px;
        }
        .first-quality, .second-quality, .third-quality{
                display: flex;
                justify-content: space-between;
                margin: 0px 100px;
                
        }
        .quality{
                margin: auto auto;
        }

        .caption-sect{
                background-color: #0c0b61;
                color: white;
                padding: 50px;
                height: 300px;
        }
        .caption-h{
                font-size: 50px;
                margin: auto;
                width: 85%;
                margin-bottom: 30px;
        }
        .caption-para{
                font-size: 25px;
                width: 70%;
                margin: auto 100px;
                color: #ff477b;

        }
        
       .news-sect{
                background-color: rgba(255, 255, 255, 0.829);
                padding: 100px;
       }
       .news-div{
                background-color: #00e1ff;
                width: 50%;
                margin: auto;
                padding: 200px 10px;
       }