@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charis+SIL:ital,wght@0,700;1,400&family=Roboto+Slab&display=swap');
        *{
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                font-family: 'Roboto Slab', serif;
        }
        img{
                width: 500px;
                height: 500px;
        }

        /*pink #ff477 purple #36174d  white #f3effe  6f36bc*/
        .material-symbols-outlined {
                font-variation-settings:
                'FILL' 1,
                'wght' 400,
                'GRAD' 0,
                'opsz' 48
        }
        /*This is the header section*/
        
        
        .navbar  { grid-area: navigation; }
        .quick-access { grid-area: access; }
        .logo { grid-area: logobar; }


        .header-sect{
                background-color: #36174d;
                display: grid;
                grid-template-areas:
                'logobar logobar navigation navigation navigation navigation access';
                gap: 10px 30px;
        }
        
        /*Logo Section*/
        .logo{
                margin-left: 5px;
                padding: 15px 30px 15px 25px;
        }
        .logo-text{
                color: rgb(252, 164, 0);
        }

        /*The Navigation Bar Styles*/

        .navbar{
                margin-top: 35px;
                justify-content: space-between;
                align-items: center;
        }
        .nav-lists {        
                display: flex;
                align-items: center;
        }

        .nav-items {
                margin-right: 20px;
                list-style-type: none;
                padding:0px 20px ;       
        }

        .item-links{
                color: white;
                font-size: 18px;
                text-decoration: none;
        }
       .item-links:hover{
                color: #ff477b;
        }
        .material-symbols-outlined{
                margin-top: 30px !important;
        }
        /*Quick Access Links*/
        .quick-access{
                margin-top: 20px;
        }
        .quick-access div{
                margin: 10px 10px;
        }
        .quick-access a{
                padding-right: 15px;
                color: rgb(243, 61, 167);
                font-size: 22px;
                text-decoration: none;
                font-weight: bold;
        }
        .quick-access button{
                margin-right: 15px;
                border-radius: 25px;
                padding: 10px 15px;
                background-color: orange;
                font-size: 20px;
                color: black;
        }
        .access-icon{
               font-size: 40px !important;
                margin-right:15px ;
                margin-top: 10px !important;
                color: white;
        }
        /*A brief Intro*/
        .landing-sec{
                background-color: #36174d;
                height: 75vh;
        }
        .intro-container{
                padding: 0px 30px 30px 30px;
                width: 100%;
        }
        .intro-div{
               margin-left: auto;
               margin-right: auto;
               width: 70%;
               padding: 15px;
        }
        .intro-div h1{
                font-size: 52px;
                margin-bottom: 60px;
                color: #ffffff;
        }
         .main-use{
                font-size: 60px;
                color: aqua;
                text-decoration: underline;
        }
        .intro-div p{
                font-size: 27px;
                font-family: 'Charis SIL', serif;
                font-family: 'Roboto Slab', serif;
                margin-bottom: 40px;
                color: #ccc1ff;
                line-height: 40px;
        }
        .framework-tag{
                color: orange;
                font-size: 40px;
        }
        .highlight-use{
                text-decoration: underline;
        }
        .intro-div div{
                margin-left: auto;
                margin-right: auto;
               
        }
        .more-btns{
                display: flex;
                justify-content: space-around;
                align-items: center;

        }
        .icon-git{
                margin-right: 10px;
        }
        .intro-div div button{
                margin-right: 20px;
                border-radius: 35px;
                padding: 10px 15px;
                background: rgba(255,68,123,1);
                color:  rgba(243,239,254,1);
                font-weight: bold;
                font-size: 25px;
        }
      .more-btns :hover{
                color: rgba(255,68,123,1);
                background-color:  rgba(243,239,254,1);     
      }  

      /*This is the section after Landing page*/

        .briefintro-sect{
            padding: 30px;  
            background-color:  #d8cbfd; 
            height: 100%;
        }

        .brief-container{
                display: flex;
        }

        .info-container1{
                padding-right: 10px;
        }

        .intro-headingdiv{
                margin: 10px;
        }

        .intro-heading{
                font-size: 60px;
                font-weight: bold;
                color: #36174d;
        }
        .intro-paragraphdiv{
                margin-top: 30px;
                margin-left: 20px;
                margin-bottom: 30px;
        }
        .intro-paragraph{
                font-size: 30px;

        }

        .benefits-list{
               margin: 30px;
               color: #6f36bc;

        }
        .benefits-list li{
                list-style-type:decimal;
                font-size: 22px;
                padding: 10px;
                font-weight: bold;
        }

        /*Intro IMage Styles*/

        .info-container2{
             height: 100%;    
        }
        .intro-imgdiv{
                height: 80%;
                margin-top: 100px;
                margin-bottom: auto;    
        }
       .intro-img{
               
                  
        }