*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}
body{
        width: 1400px;
        height: 100%;
}
body div{
        max-width: 1200px;
        margin: auto;
}
* {
   box-sizing: border-box;
}
html, body {
   margin: 0;
   padding: 0;
}
.row::after {
   content: "";
   display: block;
   clear: both;
}
[class*="col-"] {
   width: 100%;
   float: left;
}

@media only screen and (min-width: 768px) {
   .col-l-1 { width: 8.33333333% }
   .col-l-2 { width: 16.66666667% }
   .col-l-3 { width: 25% }
   .col-l-4 { width: 33.33333333% }
   .col-l-5 { width: 41.66666667% }
   .col-l-6 { width: 50% }
   .col-l-7 { width: 58.33333333% }
   .col-l-8 { width: 66.66666667% }
   .col-l-9 { width: 75% }
   .col-l-10 { width: 83.33333333% }
   .col-l-11 { width: 91.66666667% }
   .col-l-12 { width: 100% }
}
/* design the layout */
header, footer {
   padding: 15px;
   color: white;
}
.main, .aside {
   padding: 15px;
}
.main > p {
   text-align: justify;
}
.aside > div {
   background: #89C3D0;
   border: 1px solid black;
   border-radius: 5px;
   padding: 15px;
}
header {
   background: #173459;
}
footer {
   background: #333333;
}
.menu {
   padding: 10px;
}
.menu > ul {
   padding: 0;
   margin: 0;
   list-style-type: none;
}
.menu > ul > li {
   background: #903C56;
   width: 100%;
   margin-top: 5px;
   padding: 10px;
   font-size: 120%;
   transition-duration: 1s;
}
.menu > ul > li:hover {
   background: #76969D;
}
.menu > ul > li > a {
   text-decoration: none; /* remove underline */
   color: #f8f9f9;
}
img {
   max-width: 100%;
   height: auto;
}