.mbresp-header{
      display: block;  
}
.mbresp-logo{
        text-align: center;
        margin: auto;
}
.mbresp-navbar{
        display: block;
        background-color: white;
}
.mbresp-navlist{
        display: block;
}
.mbresp-navbaritem2{
        display: flex;

}
.mbresp-quickaccess{
        
}
.mbresp-quickbtn{

}