.mbresp-header{
      display: block;  
}
.mbresp-logo{
        text-align: center;
        margin: auto;
}
.mbresp-navbar{
        display: none !important ;
}
.mbresp-navlist{
        display: block;
}
.mbresp-navbaritem2{
        display: flex;

}