.mbresp-header{
      display: block;  
}
.mbresp-logo{
        text-align: center;
        margin: auto;
}
.mbresp-navbar{
        display: block;
        background-color: rgb(255, 255, 255);
}
.mbresp-navlist{
        display: block;
}
.mbresp-navbaritem2{
        display: flex;

}
.mbresp-quickaccess{
        
}
.mbresp-quickbtn{

}

/*Code for Test File*/
/*This is CSS For The Test File*/

.mbresp-header-sect{
        
        padding: 10px 15px;
}
.mbresp-logo-div{
        display: flex;
        align-items: flex-end;
}
.mbresp-logo-img{
        width: 70px;

}
.mbresp-logo-txt{
        font-family: 'IBM Plex Sans', sans-serif;
        padding-left: 10px;
        padding-bottom: 5px;
}
.mbresp-navbar{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px 100px;
        font-size: 20px;
        align-items: center;
        justify-items: end;
}

.mbresp-nav-lists li:not(:first-child) {display: none;}
.mbresp-naview-icon {
        float: left;
        display: block !important;
}
.mbresp-nav-lists {
        position: relative;
}
.mbresp-naview-icon{
        right: 0;
        top: 0;
}
.mbresp-nav-lists li{
        float: none;
        display: block;
        text-align: left;
}
.mbresp-navbar-btns {

}
.mbresp-navbar-btn{
        margin-bottom: 3px;
}
.mbresp-navbar-btn:nth-child(2){
        background-color: orangered;
}
.mbresp-highlight-div{
        height: 50px;
        background-color: orangered;
}

.mbresp-landing-sect{
        flex-direction: column;
}
.mbresp-landing-imgdiv{
         width: 500px;
        padding: 50px;
}
.mbresp-landing-img{
        width: 400px;
}
.mbresp-content-sect{
        padding: 10px 150px 10px 40px;
}
.mbresp-content{
        font-size: 60px
}
