.mbresp-header{
        display: block;  
  }
  .tbresp-logo{
          text-align: left;
          margin-left:20px;
  }
  .tbresp-navbar{
          display: none;
  }
  .tbresp-quickaccess{

  }
  
  