.tbresp-header{
        display: block;  
  }
  .tbresp-logo{
          text-align: center;
          margin: auto;
  }
  .tbresp-navbar{
          display: none !important ;
  }
  .tbresp-navlist{
          display: block;
  }
  .tbresp-navbaritem2{
          display: flex;
  
  }
  